@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!DOCTYPE html>
<main>
    <!-- About Area Start -->
    <div class="about-area">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-10">
                    <div class="section-tittle mb-60 text-center pt-10">
                        <h2 style="color:hotpink; font-size: 2em; font-weight: bold; letter-spacing: 2px;"> Our Story</h2>
                        <p class="pera" style="color:palevioletred;font-weight: bold; font-size: 1.2em; line-height: 1.6;">
                            Welcome to Saba's Ice Cream, an iconic institution since 1985.
                            Our website is a haven for ice cream lovers.
                            Saba's commitment to creating rich and special flavors has been delighting customers for decades.
                            Each flavor tells a story of creativity and quality, making each visit a sweet journey through time.
                            At Saba's, we are proud to offer a warm atmosphere and a menu prepared with love.
                            From loyal regulars to first-time visitors, everyone leaves with a satisfied smile,
                            having experienced the unique symphony of flavors that defines Saba's ice cream parlor.
                            Join us in celebrating the art of making ice cream and
                            indulge in the richness of tradition - one scoop at a time.
                        </p>
                    </div>
                </div>
                <div class="col-lg-12">
                    <div class="about-img pb-bottom">
                        <img src="https://media.giphy.com/media/l49JTNjzpoIvwndPa/giphy.gif" alt="" class="w-100" style="width= " 800" height="600" ;>

                    </div>
                </div>
            </div>


        </div>
    </div>
    <!-- About Area End -->


</main>