@{
    ViewData["Title"] = "ThankYou";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<main>
    <!-- breadcrumb Start-->
    <div class="site-section">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <span class="icon-check_circle display-3 text-success"></span>
                    <h2 class="display-3 text-black">Thank you!</h2>
                    <p class="lead mb-5">You order was successfully completed.</p>

                    <!-- Add the GIF here -->
                    <!-- Add the GIF here with inline styling for larger size -->
                    <img src="https://media.giphy.com/media/gdJkFK7lDKUsU/giphy.gif" alt="Thank You GIF" class="img-fluid mb-5" style="max-width: 100%; height: auto;">


                    <p><a class="btn btn-sm btn-primary mb-35" asp-controller="Home" asp-action="Index">Back to shop</a></p>
                </div>
            </div>
        </div>
    </div>
</main>


