<!-- PredictIceCreamResults.cshtml -->
@{
    ViewData["Title"] = "Predict Ice Cream Results";
    Layout = "~/Views/Shared/_ManagerLayout.cshtml";

}

<h2>@ViewData["Title"]</h2>

<div>
    <!-- Display the GPT API predictions here -->
    <p>@Model</p>
</div>
